#This file holds Env vars for the docker container.
#The real values may be secret or user specific.
#Copy this file to '.env', which is ignored by git and set the values appropriately
USER_ID=1000#Replace with your user id
GROUP_ID=1000#Replace with your group id
HEROKU_APP=chessbuilder
DB_DEV=chessbuilder-development
DB_HOST=db
DB_TEST=chessbuilder-test
DB_USERNAME=postgres
HEROKU_RELEASE_VERSION=buildnumber