#This file holds Env vars for the docker container.
#The real values may be secret or user specific.
#Copy this file to '.env', which is ignored by git and set the values appropriately
USER_ID=1000#Replace with your user id
GROUP_ID=1000#Replace with your group id